.search-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input {
    background-color: #262626;
    border: 1px transparent;
    border-radius: 8px;
    color: #ccc;
    height: 35px;
    outline: none;
    padding-left: 18px;
    width: 450px;
  }

  svg {
    fill: rgb(255, 255, 255);
    transform: scale(0.5);
  }
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;

  button {
    background-color: #262626;
    border: 1px transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    padding: 8px 22px;

    &:last-of-type {
      display: inline;
    }
  }
}

.price-range {
  display: flex;
  align-items: center;
  gap: 20px;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    background-color: #262626;
    border: 1px transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    padding: 8px 22px;
  }
}

.grid-container {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  padding-bottom: 50px;
  h2 {
    height: 60px;
    margin: 0 0 5px 0;
  }
  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
  }
}

.shopping-cart {
  fill: rgb(255, 255, 255);
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.games-column-grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  .games-column {
    border-right: 1px solid grey;
    padding-right: 140px;
    padding-left: 20px;

    h2,
    h3 {
      margin: 0;
    }
    .games-column-container {
      display: flex;
      flex-direction: column;

      .games-column-item {
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 30px;
        img {
          width: 98px;
          height: 128px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .shopping-cart {
    right: 7px;
    transform: scale(0.7);
  }
}
