.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202020;
  border: 1px transparent;
  border-radius: 12px;
  padding: 20px;

  button {
    background-color: #262626;
    border: 1px transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 8px 22px;
  }

  .buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      gap: 10px;
    }

    svg {
      fill: rgb(255, 255, 255);
    }
  }
}
