.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202020;
  border: 1px transparent;
  border-radius: 12px;
  padding: 20px;

  img:hover {
    filter: drop-shadow(10px 10px 10px black);
    transition: 0.5s;
  }

  button {
    background-color: #262626;
    border: 1px transparent;
    border-radius: 10px;
    color: #fff;
    padding: 8px 22px;
  }

  .buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      gap: 10px;
      align-items: center;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }

    svg {
      fill: rgb(255, 255, 255);

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }

    .wishlist-active {
      fill: red;
      animation: heartbeat 0.5s;
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  .buttons-div {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 1024px) {
  .buttons-div {
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .buttons-div {
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
