header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    fill: #ffff;
  }
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;

  svg {
    fill: #ffff;
  }

  li .account {
    display: flex;
    align-items: center;
  }
  li a:hover,
  li a:hover svg {
    color: hsl(229, 76%, 66%);
    fill: hsl(229, 76%, 66%);
  }
}

.active {
  text-decoration: underline;
}

/* Hamburger menu styles */
.menu-button {
  display: none; /* Masquer le bouton sur les grands écrans */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1000; /* Valeur initiale du z-index */
}

.menu-button.open {
  z-index: 2000; /* Augmentez le z-index lorsque le menu est ouvert */
}

/* Styles pour l'icône du menu hamburger */
.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-open ul {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1999;
  color: white;
  overflow-y: auto;
  animation: slideDown 0.6s ease-in-out;
}

/* Ajoutez ces classes pour l'animation */
.menu-button.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-button.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-button.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media query pour afficher le bouton et le menu */
@media (max-width: 1023px) {
  .menu-button {
    display: block; /* Afficher le bouton sur les petits écrans */
  }

  /* Masquer la navbar */
  nav ul {
    display: none;
  }

  .menu-open ul {
    display: flex;
  }
}

@media (max-width: 768px) {
  nav ul li .account {
    flex-direction: column;
  }
}
