header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    fill: #ffff;
  }
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;

  svg {
    fill: #ffff;
  }

  li .account {
    display: flex;
    align-items: center;
  }
  li a:hover,
  li a:hover svg {
    color: hsl(229, 76%, 66%);
    fill: hsl(229, 76%, 66%);
  }
}

.active {
  text-decoration: underline;
}
