header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    fill: rgb(255, 255, 255);
  }
}

nav ul {
  display: flex;
  gap: 20px;
  li a:hover {
    color: hsl(229, 76%, 66%);
  }
}

.active {
  text-decoration: underline;
}
